<resources>
    <string name="app_name">{{project_name}}</string>
    {% if 'CodePush' in feature -%}
    <string name="CodePushDeploymentKey" moduleConfig="true">{{android_codePush_key}}</string>
    {% endif -%}
</resources>
