export const domain: string = '{{deep_link_host}}';

export const bundleId: string = '{{bundle_identifier}}';

export const deepLinkPrefixes = ['{{deep_link_scheme}}://', `${domain}//`, `https://${domain}`];

/**
 * An enum of the possible paths in the application deep link.
 */
enum DeepLinkEnum {
  // {{deep_link_scheme}}://magic_link&lang=en&tenantId=austin-electrical-qqm76
  MagicLink = 'magic_link',
  // {{deep_link_scheme}}://forgot_password&lang=en&tenantId=austin-electrical-qqm76
  ForgotPassword = 'forgot_password',
  // {{deep_link_scheme}}://?toastMessage=<message content>
  ToastMessage = 'toastMessage'
}
export default DeepLinkEnum;
