{% if 'AWS Amplify' in api_middleware %}
export * from './aws';
{% endif %}
{% if 'Axios' in api_middleware %}
export * from './axios';
{% endif %}
{% if state_management_middleware == 'Redux Thunk' -%}
export { createAsyncThunkWithCancelToken } from './CommonAPIConfig';
{% endif %}
{% if state_management_middleware == 'Redux Saga' -%}
export { apiCallWithCallback, apiCallWithReturn } from './CommonAPIConfig';
{% endif %}
export type {
  APIDispatch,
  ErrorPayload,
  SuccessPayload,
  ThunkAPIOptionalArgs,
  PROBLEM_CODE,
  APIOptionalArgs,
  APICallEffect
} from './CommonTypes';
